<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="../static/js/triangles.js"></script>
</head>
<body>
	<svg id="background" viewBox="0 0 192 168"></svg>
    <div class="app">
		<div class="card center">
			<div class="card-title">Error</div>
			<div class="card-body">
				<p>{{message}}</p>
			</div>
		</div>
    </div>
</body>
</html>