<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>osu!uw Membership Management</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="../static/js/triangles.js"></script>
</head>
<body>
	<svg id="background" viewBox="0 0 192 168"></svg>
    <div class="app">
		<script>
			const token = '{{ token }}';
		</script>
		<div id="welcome-message" class="card hide">
			<div class="card-body row">
				<svg class="big-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>
				<div>
					<h1 style="margin-top: 0.4em;">You have been verified!</h1>
					<p>Welcome to osu!uwaterloo! You have been given the verified roles on the Discord server.</p>
				</div>
			</div>
			<script>
				if (new URLSearchParams(window.location.search).has('verified')) {
					document.getElementById('welcome-message').classList.remove('hide');
				}
			</script>
		</div>
		<div id="info" class="card">
			<div class="card-title">Manage Membership</div>
			<div class="card-body">
				<p>You can manage your membership below.</p>
				<p>Managing membership for <code>@{{discordUsername}}</code> (<code>{{discordId}}</code>)</p>
				<p>WatIAM: <code>{{watiam}}</code></p>
				<p class="note">Use the <code>/manage_membership</code> command in the Discord server to access this page later.</p>
				<p class="note">If you want to change WatIAM or remove your membership, please contact an executive.</p>
			</div>
		</div>

		<div id="osu-account" class="card">
			<div class="card-title">osu! Account</div>
			<div class="card-body">
				<p class="linked-osu-account"></p>
			</div>
			<div class="card-actions">
				<button class="button danger" id="unlink-osu-account" onclick="unlinkOsuAccount()">Unlink osu! Account</button>
				<a href="{{ membershipManagementBaseUrl }}/link-osu-account" class="button" id="link-osu-account">Link osu! Account</a>
			</div>			
			<script>
				let osuAccount = '{{ osuAccount }}';
				const updateOsuAccountDisplay = () => {
					if (osuAccount) {
						document.querySelector('.linked-osu-account').innerHTML = `You have an <a href="https://osu.ppy.sh/users/${osuAccount}" target="_blank">osu! account</a> (uid: <code>${osuAccount}</code>) linked.`;
						document.querySelector('#unlink-osu-account').classList.remove('hide');
						document.querySelector('#link-osu-account').classList.add('hide');
					} else {
						document.querySelector('.linked-osu-account').innerHTML = `You do not have an osu! account linked yet. Link your osu! account here!`;
						document.querySelector('#unlink-osu-account').classList.add('hide');
						document.querySelector('#link-osu-account').classList.remove('hide');
					}
				};
				updateOsuAccountDisplay();
				async function unlinkOsuAccount() {
					if (confirm('Are you sure you want to unlink your osu! account?')) {
						document.querySelector('#unlink-osu-account').disabled = true;
						document.querySelector('#unlink-osu-account').classList.add('loading');
						try {
							const response = await fetch('{{ membershipManagementBaseUrl }}/unlink-osu-account', {
								method: 'POST',
								headers: {
									'Content-Type': 'application/json',
								},
								body: JSON.stringify({ token }),
							});
							const json = await response.json();
							if (json.status === 'success') {
								osuAccount = '';
								updateOsuAccountDisplay();
							} else {
								alert(json.message);
							}
						} catch (error) {
							console.error(error);
							alert(`An error occurred. Please try again later. Error: ${error}`);
						}
						document.querySelector('#unlink-osu-account').disabled = false;
						document.querySelector('#unlink-osu-account').classList.remove('loading');
					}
				}
			</script>
		</div>
		<div id="display-on-website" class="card">
			<div class="card-title">Website Display</div>
			<div class="card-body">
				<p class="linked-website">You can choose whether to display your profile on the club website's <a href="https://osu.uwaterloo.ca/members" target="_blank">member</a> page.</p>
				<div class="switch">
					<input type="checkbox" id="display-on-website-switch">
					<label for="display-on-website-switch"></label>
					<label for="display-on-website-switch">Display my profile on club website</label>
				</div>
				<p class="note">Displaying your profile on the website requires your osu! account to be linked. If there is no osu! account linked, this setting will not take effect.</p>
			</div>
			<div class="card-actions">
				<button class="button" disabled id="update-display-on-website" onclick="submitDisplayOnWebsite()">Update</button>
			</div>
			<script>
				let displayOnWebsite = '{{ displayOnWebsite }}' === 'true';
				document.querySelector('#display-on-website-switch').checked = displayOnWebsite;
				
				let displayOnWebsiteNew = displayOnWebsite;
				document.querySelector('#display-on-website-switch').addEventListener('change', () => {
					displayOnWebsiteNew = document.querySelector('#display-on-website-switch').checked;
					updateDisplayOnWebsite();
				});
				const updateDisplayOnWebsite = () => {
					document.querySelector('#update-display-on-website').disabled = displayOnWebsite === displayOnWebsiteNew;
				};
				
				async function submitDisplayOnWebsite() {
					document.querySelector('#update-display-on-website').disabled = true;
					document.querySelector('#update-display-on-website').classList.add('loading');
					document.querySelector('#display-on-website-switch').disabled = true;
					try {
						const response = await fetch('{{ membershipManagementBaseUrl }}/update-display-on-website', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json',
							},
							body: JSON.stringify({ token, displayOnWebsite: displayOnWebsiteNew }),
						});
						const json = await response.json();
						if (json.status === 'success') {
							displayOnWebsite = displayOnWebsiteNew;
							updateDisplayOnWebsite();
						} else {
							alert(json.message);
							document.querySelector('#update-display-on-website').disabled = false;
						}
					} catch (error) {
						console.error(error);
						alert(`An error occurred. Please try again later. Error: ${error}`);
						document.querySelector('#update-display-on-website').disabled = false;
					}
					document.querySelector('#update-display-on-website').classList.remove('loading');
					document.querySelector('#display-on-website-switch').disabled = false;
				}
			</script>
		</div>
		<div id="social-links" class="card">
			<div class="card-title">Social Links</div>
			<div class="card-body">
				<p class="linked-website">If you wish, you can add your social links to be displayed on the club website!</p>
				<p class="note">This section will only take effect if you have chosen to display your profile on the club website in the previous section.</p>
				<div class="social-link-list">
				</div>
			</div>
			<div class="card-actions">
				<button class="button" disabled id="update-social-links" onclick="submitSocialLinks()">Update</button>
			</div>
			<script>
				const socialMedia = {{ socialMedia }};
				/*const socialMedia = [
					{
						id: "discord",
						name: "Discord",
						description: "Username",
						value: "meow",
						enabled: true,
						immutable: true,
						regex: "^[a-zA-Z0-9_]{2,32}$"
					},
					{
						id: "personal-website",
						name: "Personal Website",
						description: "URL (with http(s)://)",
						value: "",
						enabled: false,
						regex: "^(https?://)?([a-zA-Z0-9]+\\.)?[a-zA-Z0-9][a-zA-Z0-9-]+\\.[a-zA-Z]{2,6}(\\.[a-zA-Z]{2,6})?(/.*)?$"
					},
					{
						id: "github",
						name: "GitHub",
						description: "Username",
						value: "asdasd",
						enabled: true,
						regex: "^[a-zA-Z0-9-]{1,39}$"
					},
					{
						id: "twitch",
						name: "Twitch",
						description: "Username",
						value: "",
						enabled: false,
						regex: "^[a-zA-Z0-9_]{4,25}$"
					},
					{
						id: "youtube",
						name: "YouTube",
						description: "Channel Handle",
						value: "",
						enabled: false,
						regex: "^[a-zA-Z0-9_]{1,39}$"
					}
				];*/
				const escapeHtml = (unsafe) => {
					return unsafe
						.replace(/&/g, "&amp;")
						.replace(/</g, "&lt;")
						.replace(/>/g, "&gt;")
						.replace(/"/g, "&quot;")
						.replace(/'/g, "&#039;");
				};
				let socialLinks = {};
				for (let item of socialMedia) {
					if (!item.enabled) item.enabled = false;
					if (!item.value) item.value = '';
					let html = `
					<div class="social-link-item" data-id="${item.id}">
						<div class="social-link-item-header">
							<div class="social-link-item-name">${item.name}</div>
							<div class="social-link-item-description ${item.value ? '' : 'hide'}">${item.description}</div>
							<div class="switch">
								<input type="checkbox" class="social-link-item-switch" id="social-link-item-switch-${item.id}" ${item.enabled ? 'checked' : ''}>
								<label for="social-link-item-switch-${item.id}"></label>
							</div>
						</div>
						<div class="social-link-item-body ${item.enabled ? '' : 'hide'}">
							<input class="textfield social-link-item-input" ${item.immutable ? 'disabled' : ''} type="text" id="social-link-${item.id}" placeholder="${item.description}" value="${escapeHtml(item.value)}">
						</div>
					</div>
					`;
					const template = document.createElement('template');
					template.innerHTML = html.trim();
					document.querySelector('.social-link-list').appendChild(template.content.firstChild);
					if (item.enabled) {
						socialLinks[item.id] = item.value;
					} else if (item.immutable) {
						socialLinks[item.id] = '';
					}
				}
				if (!structuredClone) window.structuredClone = (obj) => JSON.parse(JSON.stringify(obj));
				let socialLinksNew = structuredClone(socialLinks);
				const updateSocialLinksButton = () => {
					// Check if changed
					let changed = false;
					for (let key in socialLinks) {
						if (socialLinks[key] !== socialLinksNew[key]) {
							changed = true;
							break;
						}
					}
					for (let key in socialLinksNew) {
						if (socialLinks[key] !== socialLinksNew[key]) {
							changed = true;
							break;
						}
					}
					if (!changed) {
						document.querySelector('#update-social-links').disabled = true;
						return;
					}
					// Validate
					for (let key in socialLinksNew) {
						const item = socialMedia.find((item) => item.id === key);
						const value = socialLinksNew[key];
						if (!item.immutable && !new RegExp(item.regex).test(value)) {
							document.querySelector('#update-social-links').disabled = true;
							return;
						}
					}
					document.querySelector('#update-social-links').disabled = false;
				};
				document.querySelectorAll('.social-link-item').forEach((container) => {
					const itemId = container.dataset.id;
					const switcher = container.querySelector('.social-link-item-switch');
					const body = container.querySelector('.social-link-item-body');
					const input = container.querySelector('.social-link-item-input');
					const description = container.querySelector('.social-link-item-description');
					
					const item = socialMedia.find((item) => item.id === itemId);

					const update = () => {
						const value = input.value.trim();
						if (item.immutable) {
							socialLinksNew[item.id] = switcher.checked ? item.value : '';
						} else if (!switcher.checked || value === '') {
							delete socialLinksNew[item.id];
						} else {
							socialLinksNew[item.id] = value;
						}
						updateSocialLinksButton();
					};
					
					switcher.addEventListener('change', () => {
						body.classList.toggle('hide', !switcher.checked);
						description.classList.toggle('hide', !switcher.checked || (switcher.checked && input.value === ''));
						update();
					});
					input.addEventListener('input', () => {
						const value = input.value.trim();
						description.classList.toggle('hide', value === '');
						update();
					});
					input.addEventListener('change', () => {
						const value = input.value.trim();
						input.value = value;
						input.classList.toggle('error', value !== '' && !new RegExp(item.regex).test(value));
						update();
					});
				});
				
				async function submitSocialLinks() {
					document.querySelectorAll('.social-link-item').forEach((container) => {
						if (container.querySelector('.social-link-item-input').value.trim() === '') {
							container.querySelector('.social-link-item-switch').checked = false;
							container.querySelector('.social-link-item-body').classList.add('hide');
						}
					});
					document.querySelector('#update-social-links').disabled = true;
					document.querySelector('#update-social-links').classList.add('loading');
					document.querySelector('.social-link-list').classList.add('updating');
					try {
						const response = await fetch('{{ membershipManagementBaseUrl }}/update-social-links', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json',
							},
							body: JSON.stringify({ token, socialLinks: socialLinksNew }),
						});
						const json = await response.json();
						if (json.status === 'success') {
							socialLinks = structuredClone(socialLinksNew);
							updateSocialLinksButton();
						} else {
							alert(json.message);
							document.querySelector('#update-social-links').disabled = false;
						}
					} catch (error) {
						console.error(error);
						alert(`An error occurred. Please try again later. Error: ${error}`);
						document.querySelector('#update-social-links').disabled = false;
					}
					document.querySelector('#update-social-links').classList.remove('loading');
					document.querySelector('.social-link-list').classList.remove('updating');
				}
			</script>
		</div>
	</div>
</div>
</body>
</html>